<template>
    <div class="main">
      <div v-if="!isLoading" v-for="(item, index) in $store.state.mercuryArticles" :key="index" class="container">
          <div>
              <!--<p>{{index}}</p>-->
              <p @click="show(index)">{{item.title}}</p>
              <img :src="item.lead_image_url" @click="show(index)"/>
          </div>
          <p class="content" @click="show(index)" >{{item.content.replace(/&.+?;/g, "'").substring(0,250) + "..."}}</p>

      </div>


      <modal name="article"  class="modalWindow">
          <div class="header">
              <p>{{$store.state.mercuryArticles[index].title}}</p>
              <img :src="$store.state.mercuryArticles[index].lead_image_url"/>
          </div>
          <p class="modalContent">{{$store.state.mercuryArticles[index].content.replace(/&.+?;/g, "'")}}</p>
      </modal>
    </div>

</template>

<script>
  import Vue from 'vue';
  import store from '../store'
  import axios from 'axios'
  import VModal from 'vue-js-modal'

  Vue.use(VModal)

  let config = {
      headers: {
          'x-api-key' : '89hA8Pq7nEwbuXqMrUZGCryTdIMESiRFuV8bGcUW',
          'x-requested-with' : 'XmlHttpRequest'
      }
  }

export default {

  name: 'home',
  data() {
      return {
        isLoading: false,
        list: [{}],
        index: "0"
      }
  },
  methods: {
      show (index) {
          this.index = index;
          this.$modal.show('article');
      },
      hide () {
          this.$modal.hide('article');
      },

      getContentFromFlipboard() {
          var parseString = require('xml2js').parseString;

          axios.get('https://cors-anywhere.herokuapp.com/https://flipboard.com/@raimoseero/feed-nii8kd0sz.rss',
          config).then(response => {
                  this.isLoading = true;
                  var self = this;
                  parseString(response.data, function (err, result) {
                      store.commit('setArticles', result.rss.channel[0].item);
                      // console.log(store.state.articles);
                      // console.log(store.state.articles[0]["media:content"][0].$.url);

                      self.getContentThroughMercury();
                  });
              });
      },
      getContentThroughMercury() {
          console.log(store.state.articles);
          let self = this;
          this.list.splice(0,1);
          store.state.articles.forEach((val)=>{
              axios.get('https://cors-anywhere.herokuapp.com/https://mercury.postlight.com/parser?url=' + val.link, config).then(response => {
                  if (val.link[0] === "https://www.oreilly.com/library/view/software-architecture-patterns/9781491971437/ch01.html"
                      || val.link[0] === "https://www.smashingmagazine.com/2018/12/real-time-app-graphql-subscriptions-postgres/") {
                      console.log("chpoooook");
                      response.data.lead_image_url = val["media:content"][0].$.url;
                  }
                  response.data.content = response.data.content.replace(/<\/?[^>]+(>|$)/g, "");
                  // console.log(response.data.lead_image_url);
                  // console.log(response.data.lead_image_url);
                  self.list.push(response.data);
                  store.commit('setMercuryArticles',self.list);
                  self.isLoading = false;
              })
          });
          // console.log(store.state.articles);
          console.log(store.state.mercuryArticles);
      }
  },
  beforeMount () {
      if (store.state.articles.length < 2) {
          this.getContentFromFlipboard();
      }

      // console.log(store.state.mercuryArticles);

  },
}
</script>

<style lang="scss">
    .v--modal {
        border-radius: 15px;
        background-color: lightgoldenrodyellow;
    }
    .v--modal-background-click {
        display: flex;
        justify-content: center;
    }
    .v--modal-overlay .v--modal-box {
        overflow: auto !important;
        left: 0 !important;
        width: 60% !important;
        top: 127px !important;
        height: 500px !important;
    }
    .modalWindow {

        .header {
            display: flex;
            padding: 20px;
            margin-bottom: 30px;
            justify-content: space-around;
            p {
                font-size: 19px;
                font-family: Comic Sans MS;
                width: 35%;
                height: 200px;
            }
            img {
                border-radius: 15px;
                width: 35%;
                height: 200px;
            }
        }
        .modalContent {
            padding: 0 40px;
            font-family: cursive;
            font-style: italic;
            color: gray;
            font-size: 14px;
        }
    }
    .main {
        margin: 25px 50px;
        display: flex;
        flex-wrap: wrap;

    }
    .container {
        width: 30%;
        background-color: lightgoldenrodyellow;
        border-radius: 15px;
        padding: 10px;
        margin-right: 15px;
        margin-bottom: 20px;
        .content {
            font-size: 12px;
            color: darkslategrey;
            text-align: center;
            width: 75%;
            margin-left: 20px;
            cursor: pointer;
        }
        div {
            display: flex;
            margin-bottom: 25px;
            p {
                cursor: pointer;
                width: 50%;
                margin-right: 40px;
                margin-left: 5px;
            }
            img {
                border-radius: 15px;
                cursor: pointer;
                width: 30%;
                height: 100px;
            }
        }
    }


    @media screen and (max-width: 680px) {

        .main {
            justify-content: center;
            margin: 0;
        }
        .container {
            width: 50%;
            padding: 15px;
        }
    }
    @media screen and (max-width: 1185px) {
        .main {
            justify-content: center;
            margin: 25px 0 0 0;
        }
    }
</style>
